
<ion-content [fullscreen]="true">
  <img [src]="imageUrl" alt="My Image">
<br>
<br>
<div class="login-form-container">
  <form>
    <div >
      <h2> Merci de renseigner votre adresse e-mail afin de recevoir le mail de réinitialisation de votre mot de passe </h2>
          </div>
    <ion-item class="input-container">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  name="email" required></ion-input>
    </ion-item>
<br>
    <button class="btn-rounded"  role="button" >Réinitialiser</button>
  </form>
</div>
</ion-content>
